*{
	margin: 0;
	padding: 0;
    font-family: arial, tahoma;
    font-variant: small-caps;
}

body,html{
	width: 100%;
	height: 100%;
    color: #fff;
    background:#000;
    background: linear-gradient(rgba(97,84,64,0.8), rgba(229,194,131,0.8), rgba(229,194,131,0.8), rgba(98,86,65,0.8)),
                url("../img/bg.jpg");
}

ul, ul li{
    list-style: none outside none;
}

.credit{
    color: #fff;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

a{
    text-align: center;
    text-decoration: none;
    width: 180px;
    height: 22px;
    padding: 14px 0;
    display: block;
    background: url('../img/button.png');
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #fca;
    opacity: 0.5;
    transition: all 0.2s;
    color: #eef;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

a:hover{
    opacity: 1;
}

#body{
    width: 500px;
    height: 500px;
    text-align: center;
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px black solid;
    overflow: hidden;
}

.game{
    background: url('../img/stage bg.png');
}

.start{
    background: url('../img/menu 2.png');
    width: 400px !important;
    height: 350px !important;
    padding: 75px 50px;
    font-size: 18px;
}

.title{
    background: url('../img/title.png') !important;
    width: 200px !important;
    padding-left: 300px;
    height: 300px !important;
    padding-bottom: 200px;
}

.title2{
    background: url('../img/title_rain.png') !important;
    width: 250px !important;
    padding-left: 250px;
}

.score{
    background: url('../img/score.png') !important;
    width: 360px !important;
    padding-left: 140px;
    font-size: 6vw;
    color: #9500FF !important;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.score a{
    font-size: 18px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    -webkit-filter: hue-rotate(150deg); filter: hue-rotate(150deg);
}
.score #rain{
    -webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);
}

.select{
    background: url('../img/select.png') !important;;
}

.select a{
    position: absolute;
    top: 125;
    width: 150px;
    height: 250px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0; padding: 0; opacity: 1;
}

.select #hadard{
    left: 10;
    background: url('../img/hadard_normal.png');
}
.select #hadard:hover{
    background: url('../img/hadard_hover.png');
}

.select #dorian{
    left: 175;
    background: url('../img/dorian_normal.png');
}
.select #dorian:hover{
    background: url('../img/dorian_hover.png');
}

.select #zeka{
    left: 340;
    background: url('../img/zeka_normal.png');
}
.select #zeka:hover{
    left: 340;
    background: url('../img/zeka_hover.png');
}

#bga{
    bottom: 0;
}

#bgb{
    bottom: 19;
}

#bgc{
    bottom: 38;
}

#bgd{
    bottom: 57;
}

#bge{
    bottom: 76;
}

#bgf{
    bottom: 95;
}

#rain{
    background: url('../img/rain.gif') repeat; 
    transform: rotate(30deg);
    width: 700px;
    height: 700px;
    position: absolute;
    top: -100px;
    left: -100px;
    opacity: 0.7;
}

.bg{
    background: url('../img/wave.gif') bottom repeat-x !important;
    width: 500px;
    height: 35px;
    position: absolute;
    left: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#hero{
    width: 50px;
    height: 75px;
    left: 50px;
    top: 400px;
    position: absolute;
    transition: all 0.1s;
}

#hero.debug.normal{
    background: yellow !important;
}
#hero.debug.pulando{
    background: greenyellow !important;
}
#hero.debug.caindo{
    background: orange !important;
}

#hero.hadard{
    background: url("../img/hadard.gif") no-repeat bottom !important;
}
#hero.hadard.pulando{
    transform: rotate(-20deg);
}
#hero.hadard.caindo{
    transform: rotate(20deg);
}

#hero.dorian{
    background: url("../img/dorian.gif") no-repeat bottom !important;
}
#hero.dorian.pulando{
    transform: rotate(-20deg);
}
#hero.dorian.caindo{
    transform: rotate(20deg);
}

#hero.zeka{
    background: url("../img/zeka.gif") no-repeat bottom !important;
}
#hero.zeka.pulando{
    transform: rotate(-20deg);
}
#hero.zeka.caindo{
    transform: rotate(20deg);
}

#water{
    background: url('../img/splash.gif') no-repeat bottom center;
    width: 50px;
    height: 75px;
    left: 50px;
    top: 410px;
    position: absolute;
    transition: all 0.05ms;
}

#score{
    right: 0;
    position: absolute;
    margin: 0;
    opacity: 1 !important;
    border: 0;
    background: transparent !important;
}

#hud
{
    z-index: 200;
    height: 50px;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fca url('../img/hud.png');
    opacity: 0.9;
}

#pauser{
    z-index: 1000;
    background: transparent url('../img/pause.png') center no-repeat;
    opacity: 1;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    transition: all 0.25s;
    position: absolute;
    width: 100%;
    height: 100%;
}

#gamer{
    z-index: 1000;
    background: transparent url('../img/gameOver.png') center no-repeat;
    opacity: 1;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    transition: all 0.25s;
    position: absolute;
    width: 100%;
    height: 100%;
}

.nope{
    opacity: 0 !important;
}

.flipX{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flipY{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.onda{
    width: 100px;
    height: 100px;
    background: url('../img/enWave.gif');
}
.fridge{
    width: 75px;
    height: 50px;
    background: url('../img/fridge.gif');
}
.fuscaAzul{
    width: 70px;
    height: 50px;
    background: url('../img/fuscaAzul.gif');
}
.fuscaAmarelo{
    width: 70px;
    height: 50px;
    background: url('../img/fuscaAmarelo.gif');
}
.gas.modeloA{
    width: 75px;
    height: 75px;
    background: url('../img/gasA.gif');
}

#enemyA, #enemyB{
    position: absolute;
    transition: all 0.1s;
    background-position: bottom right;
    background-repeat: no-repeat;
}

#gas1, #gas2, #gas3{
    background: url("../img/energy.gif");
    width: 32px; height: 50px;
    position: absolute;
}
#gas1{
    left: 95;
}
#gas2{
    left: 125;
}
#gas3{
    left: 155;
}
.dead{
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    left: 501px !important;
    top: 501px !important;
}
#portrait
{
    position: absolute;

}

.title2 a{
    position: absolute;
    right: 25px;
}